.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.team-heading{
    background-color:#ff414e ;
    color: #ffffff;   
}
.team-heading h1{
    font-size: 5rem;
}
.engineer{
/* background-color: #ffde22; */
background-color: #7ebc59;
color: #ffffff;  
}

.intern{
    background-color: #ffde22;
    color: #ffffff;  
}

.manager{
    /* background-color: #ffde22; */
    /* background-color: #FF5A09 ; */
    background-color: #ff8928;
    color: #ffffff;
    
}

.card{
    margin: 1%;
    width: 30%;
    float: left;
}


.card-body{
    background-color: #f1f0ee;
}

.list-group li{
    background-color: #ffffff;
}